<div class="video-player-section">
  <div class="overlay-gradident"></div>
  <div class="container">
    <div class="video-player-button"></div>
    <div class="video-player-footer">
      <div class="rating-wrapper">
        <span>The Mentalist, Seasons 1-7</span>
        <div class="rating-content">
          <span>Rating: </span>
          <star-rating [starType]="'svg'" [numOfStars]="10"></star-rating>
        </div>
        <span>Ratings: 8.2-10 from 606 users</span>
      </div>
      <span>Search</span>
    </div>
  </div>
</div>
